(
 items: [
 /* DO NOT TOUCH THE CAMERA HERE */
 Camera(
   1,
   Transform(
     position: [0., 0., 3.],
     rotate: [0., 0., 0.],
     scale: [1., 1., 1.],
     ),
   ),
 LightSource(
   2,
   Transform(
     position: [0., 2., 0.],
     rotate: [0., 0., 0.],
     scale: [0.5, 0.5, 0.5],
     ),
   Light(
     ubo_index: 0,
     kind: Directional,
     direction: [0., 1., 0.],
     ambient: [0.2, 0.2, 0.2],
     diffuse: [0.5, 0.5, 0.5],
     specular: [1., 1., 1.],
     )
   ),
 LightSource(
     3,
     Transform(
       position: [-2., 0., 0.],
       rotate: [0., 0., 0.],
       scale: [1., 1., 1.],
       ),
     Light(
       ubo_index: 0,
       kind: Sun,
       direction: [0., 1., 0.],
       ambient: [0.2, 0.2, 0.2],
       diffuse: [0.5, 0.5, 0.5],
       specular: [1., 1., 1.],
       )
     ),
 Cube(
     4,
     Transform(
       position: [1., 0., 0.],
       rotate: [0., 0., 0.],
       scale: [1., 1., 1.],
       ),
     ),
 /* TODO: Add normal for light casting */
 Plane(
     5,
     Transform(
       position: [0., -2., 0.],
       rotate: [0., 0., 0.],
       scale: [1., 1., 1.],
       ),
     )
 ]
 )
